@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
html {
  font-size: 75%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #747474; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #c5a47e; }

::selection {
  background-color: #c5a47e;
  color: #fff; }

-webkit-::selection {
  background-color: #c5a47e;
  color: #fff; }

::-moz-selection {
  background-color: #c5a47e;
  color: #fff; }

/* 1.2 Typography */
@font-face {
  font-family: "montserratlight";
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratsemibold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

.type-30 h1, .type-30 .h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 8vmin;
  line-height: 1.2;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-30 h2, .type-30 .h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.1875em;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-30 h3, .type-30 .h3 {
  font-family: "montserratsemibold";
  font-size: 1.875em;
  line-height: 1.1;
  font-weight: normal;
  color: #3d3d3d; }
.type-30 h4, .type-30 .h4 {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  line-height: 1.35;
  font-weight: normal;
  color: #3d3d3d;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
.type-30 h1 a, .type-30 .h1 a, .type-30 h2 a, .type-30 .h2 a, .type-30 h3 a, .type-30 .h3 a, .type-30 h4 a, .type-30 .h4 a {
  color: inherit; }
.type-30 h1 a:hover, .type-30 .h1 a:hover, .type-30 h2 a:hover, .type-30 .h2 a:hover, .type-30 h3 a:hover, .type-30 .h3 a:hover, .type-30 h4 a:hover, .type-30 .h4 a:hover {
  text-decoration: none; }
.type-30 p {
  margin-bottom: 1.6em; }
.type-30 b, .type-30 strong {
  font-family: "Montserrat", sans-serif; }
.type-30 ul {
  list-style: none;
  padding-left: 0; }
.type-30 a {
  color: #c5a47e;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
.type-30 a:hover, .type-30 a:focus {
  color: #c5a47e;
  outline: none; }
.type-30 a:focus {
  text-decoration: none;
  /* 1.7 Content styles */ }
.type-30 .layout {
  position: relative;
  overflow: hidden; }
.type-30 .text-primary {
  color: #c5a47e; }
.type-30 .page-lines {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
.type-30 .page-lines .col-line {
  padding: 0; }
.type-30 .page-lines .line {
  position: absolute;
  left: 0;
  width: 1px;
  height: 50000px;
  background-color: #f4f4f4; }
.type-30 .page-lines .col-line:last-child .line:last-child {
  left: auto;
  right: 0; }
.type-30 .row-base {
  margin-top: -3em; }
.type-30 .col-base {
  margin-top: 3em; }
.type-30 .section {
  position: relative;
  margin-top: 7.1em;
  margin-bottom: 7.1em; }
.type-30 .section-header {
  position: relative; }
.type-30 .section-title {
  text-align: center;
  margin: 0;
  margin-left: 0.32em; }
.type-30 .fade-title-left, .type-30 .fade-title-right {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10.8em;
  line-height: 1;
  color: #000;
  position: absolute;
  left: 0;
  top: 0.03em;
  opacity: 0.035;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.type-30 .fade-title-right {
  left: 100%; }
.type-30 .section-content {
  margin-top: 7.1em;
  /* --- Global K2 container --- */ }
.type-30 #k2Container {
  padding: 0 0 24px 0; }
.type-30 body.contentpane #k2Container {
  padding: 16px;
  /* used in popups */
  /* --- General padding --- */ }
.type-30 .k2Padding {
  padding: 4px;
  /* --- Clearing --- */ }
.type-30 .clr {
  clear: both;
  height: 0;
  line-height: 0;
  display: block;
  float: none;
  padding: 0;
  margin: 0;
  border: none;
  /*------------------------------------------------------------------------------
   Component - Itemlist view (user)
   --------------------------------------------------------------------------------*/
  /* User info block */ }
.type-30 div.userBlock {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 0 24px 0;
  padding: 8px; }
.type-30 div.userBlock img {
  display: block;
  float: left;
  background: #fff;
  padding: 4px;
  border: 1px solid #ddd;
  margin: 0 8px 0 0;
  border-radius: 50%; }
.type-30 div.userBlock div.userDescription {
  padding: 4px 0; }
.type-30 div.userBlock div.userAdditionalInfo {
  padding: 4px 0;
  margin: 8px 0 0 0; }
.type-30 span.userURL {
  font-weight: bold;
  color: #555;
  display: block; }
.type-30 span.userEmail {
  font-weight: bold;
  color: #555;
  display: block;
  /* User items */ }
.type-30 div.userItemView {
  margin-bottom: 48px;
  /* this is the item container for this view */ }
.type-30 div.userItemViewUnpublished {
  opacity: 0.9;
  border: 4px dashed #ccc;
  background: #fffff2;
  padding: 8px;
  margin: 8px 0; }
.type-30 div.userItemHeader span.userItemDateCreated {
  color: #999;
  font-size: 11px; }
.type-30 div.userItemHeader h3.userItemTitle {
  padding: 10px 0 4px 0;
  margin: 0; }
.type-30 div.userItemHeader h3.userItemTitle span sup {
  font-size: 12px;
  color: #cf1919;
  text-decoration: none;
  /* "Unpublished" presented in superscript */ }
.type-30 div.userItemBody {
  padding: 8px 0;
  margin: 0; }
.type-30 div.userItemImageBlock {
  padding: 0;
  margin: 0;
  float: left; }
.type-30 span.userItemImage {
  display: block;
  text-align: center;
  margin: 0 8px 8px 0; }
.type-30 span.userItemImage img {
  max-width: 100%;
  height: auto; }
.type-30 div.userItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 4px 0 12px 0; }
.type-30 div.userItemLinks {
  margin: 0 0 16px 0;
  padding: 0; }
.type-30 div.userItemCategory {
  padding: 4px 0; }
.type-30 div.userItemCategory span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0; }
.type-30 div.userItemTagsBlock {
  padding: 4px 0; }
.type-30 div.userItemTagsBlock span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0; }
.type-30 div.userItemTagsBlock ul.userItemTags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline; }
.type-30 div.userItemTagsBlock ul.userItemTags li {
  display: inline;
  list-style: none;
  padding: 0 4px 0 0;
  margin: 0;
  text-align: center; }
.type-30 div.userItemTagsBlock ul.userItemTags li a:before {
  content: "#"; }
